

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

  }
  
.h1 {
 left: 100px;
}

  .right-image-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    overflow: hidden;
  }
  
  .right-image {
    width: 100%;
    height: 100%;
    right: 0;
    border: 5px solid #000;
    border-radius: 30% 0% 0% 30%;
    object-fit: cover;
  }
  .symbol-container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
  }
  
  .symbol {
    position: absolute;
    width: 350px;
    height: 350px;
    margin: 0 10px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
  }
  
  .turnip {
    background-image: url('../../images/Radish.png');
    font-size: 20px;
    top: 70px;
    left: 220px;
  }
  
  .grape {
    background-image: url('../../images/Grape.png');
    font-size: 30px;
    top: 380px;
    left: 580px;
  }
  
  .pear {
    background-image: url('../../images/pear.png');
    font-size: 20px;
    top: 530px;
    left: 85px;

  }
  
  .text-left {
    width: 500px;
    position:absolute;
    left: 10rem;
    text-align: center;
  }

  .p{
    font-size: 1rem;
    color: #EC6D5E;
  }
  
span {
  color: white;
}

.get-started-button {
  padding: 12px 32px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #D9D9D9;
  color: #FAA41A;
  border: 2px solid #383747;
  border-radius: 18px;
  cursor: pointer;
}

.get-started-button:hover {
  background-color: #FAA41A;
  color: #FFFFFF;
}
