.recipes-page {
    display: flex;
    justify-content: space-between;
  }

  .recipe-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
  }
  
  .recipe-card {
    flex: 0 0 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    background-color: #f5ca76;
    transition: all 0.3s ease;
  }
  
  .recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .recipe-card h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .recipe-card p {
    margin-top: 5px;
    font-size: 14px;
    color: #888;
  }
  
  @media (max-width: 768px) {
    .recipe-card {
      width: 200px;
      height: 300px;
    }
  
    .recipe-card img {
      height: 150px;
    }
  }
  
  
  .search-box {
    width: 300px;
    padding: 20px;
    border: 3px solid #000;
    margin-right: 20px;
    height: 700px;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .add-ingredient-form {
    margin-bottom: 10px;
    border: 2px;
  }
  
  .add-ingredient-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .ingredient-list {
    flex-grow: 1;
  }
  
  .ingredient {
    margin-bottom: 5px;
  }
  
  .pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    border: none;
    background: transparent;
    color: #555;
    font-size: 1.2rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .pagination button.active {
    color: #000;
  }
  
  .pagination button i {
    margin-right: 0.3rem;
  }
  
  .remove-ingredient {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    transition: color 0.3s;
  }
  
  .remove-ingredient:hover {
    color: #f44336;
  }

  .confirmation-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .confirmation-content {
    background-color: #f5ca76;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .confirmation-buttons {
    margin-top: 20px;
  }
  
  .confirm-btn,
  .cancel-btn {
    padding: 8px 16px;
    margin: 0 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .confirm-btn {
    background-color: #4caf50;
    color: white;
  }
  
  .cancel-btn {
    background-color: #f44336;
    color: white;
  }
  
  .no-ingredients-message {
    text-align: center;
    padding: 40px;
    font-size: 18px;
    color: #2e6736;
  }
  