.recipes-page {
    display: flex;
    justify-content: space-between;
  }

  .recipe-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
  }
  
  .recipe-card {
    flex: 0 0 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    background-color: #f5ca76;
    transition: all 0.3s ease;
  }
  
  .recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .recipe-card h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .recipe-card p {
    margin-top: 5px;
    font-size: 14px;
    color: #888;
  }
  
  @media (max-width: 768px) {
    .recipe-card {
      width: 200px;
      height: 300px;
    }
  
    .recipe-card img {
      height: 150px;
    }
  }
  
  
  .search-box {
    width: 300px;
    padding: 20px;
    border: 1px solid #000;
    margin-right: 20px;
    height: 700px;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .add-ingredient-form {
    margin-bottom: 10px;
  }
  
  .add-ingredient-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .ingredient-list {
    flex-grow: 1;
  }
  
  .ingredient {
    margin-bottom: 5px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .pagination button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #ccc;
  } 