.navbar {
  background-color: #93AF55;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100vw;
}

.navbar-title {
  display: flex;
  align-items: center;
}

.navbar-title-text {
  color: #40532E;
  font-weight: bold;
  font-size: 55px;
  margin-right: 1px;
  margin-left: 10px;
}

.navbar-title-symbol {
  font-size: 40px;
}

.nav-menu {
  color: #40404E; 
  position: relative;
  display: flex;
  text-align:right;
  align-items: right;
  margin-left: 5px; 
  left: -100px;
  z-index: 1;   
}
.easycook {
  color: #383847;
  font-weight: bold;
  font-size: 26px;
  margin-right: 10px;
  text-decoration: none;
}

.nav-item {
  margin-right: 50px;
  text-decoration: none;
  font-size: 18px;
  color: #40404E;
}
.navbar-title-line {
  flex-grow: 1;
  border: none;
  border-top: 2px solid #40532E;
  margin-left: 10px;
}
.nav-link:hover {
  color: #f5f5f5;
}
.dropdown-arrow {
  color: red;
  margin-left: 5px;
  display: inline-block;
  border-radius: 50%;
  justify-content: center;
  border: 1px solid red;
  padding: 2px;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
}

