.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

  }
  
.h1 {
 left: 100px;
}

  .left-image-container {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    overflow: hidden;
  }
  
  .left-image {
    width: 100%;
    height: 100%;
    right: 0;
    border: 5px solid #000;
    border-radius: 30% 0% 0% 30%;
    object-fit: cover;
  }
  .symbol-container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
  }
  
  .symbol {
    position: absolute;
    width: 230px;
    height: 230px;
    margin: 0 10px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.2;
  }
  
  .turnip {
    background-image: url('../images/turnip.png');
    font-size: 20px;
    top: 160px;
    left: 220px;
  }
  
  .grape {
    background-image: url('../images/grapes.png');
    font-size: 30px;
    top: 380px;
    left: 620px;
  }
  
  .mango {
    background-image: url('../images/mango.png');
    font-size: 20px;
    top: 610px;
    left: 220px;
  }
  